html,body {
     font-family: Arial, sans-serif;
     height: 100%;
     margin: 0;
     padding: 0;
}
 .container {
     height: 100%;
     position: relative;
     align-items: stretch;
     display: flex;
     min-height: 0 flex: 1 1 0px;
}
 input {
     font-size: 15px;
}
 #inputTextID {
     padding-left: 20px;
}
 h1 {
     color: #F8F8FF;
     font-size: 30px;
     font-weight: bold;
     word-wrap: break-word;
     position: relative;
     line-height: 1.2;
     margin: 0 0 10px 0;
     text-align: center;
     padding: 10px 10px;
     background-color: #65a0ed;
}
 ul, li {
     display: block;
     list-style-type: decimal;
     border: 0;
     margin: 0;
     padding: 0;
}
 li {
     list-style: none;
     display: list-item;
     text-align: -weblit-match-parent;
}
 li:hover {
     background-color: #e8e8e8;
}
.listPane {
     /*background-color: #fff;*/
     position: relative;
     overflow: auto;
}
 .leftPane {
     cursor: pointer;
}
 .listStyles{
     border-bottom: 1px solid;
     border-bottom-color: #dcdfe5;
     outline: none;
     outline-offset: -1px;
}
 .listSpace{
     padding: 20px 20px 20px 20px;
}
 .listFlex {
     display: flex;
}
 .listLeftcontent {
     display: inline-block;
     margin-right: 36px;
     vertical-align: top;
     width: 250px;
     flex: 1 0 0px;
}
 .listFont {
     align-self: center;
     font-size: 18px;
     font-weight: 400;
     line-height: 22px;
     margin: 0;
     color: #4259f4;
}
 p {
     font-size: 14px;
     margin: 0;
     display: block;
     margin-start: 0;
     margin-end: 0;
     margin-before: 1em;
     margin-after: 1em;
     padding-top: 10px;
     width: 100%;
}
 .pStyles {
     line-height: 20px;
    /*max-width: 80px;
    */
     overflow: hidden;
}
 .imageStyles {
     background: no-repeat center/cover;
     vertical-align: middle;
     min-height: 0;
     min-width: 0;
}
/*#map {
     bottom:0;
     top:0;
     height:100vh;
     width:100%;
     position: absolute;
     left: 362px;     
     right: 0px;
}*/

 /*.rightPane {
     position: absolute;
     height: 100%;
     width: 50%;
     margin: 0;
}*/
 .mapArea {
     flex: 1 0;
     overflow: hidden;
     height:100vh;
     width:100%;
}
 .map-responsive{
     overflow:hidden;
     padding-bottom:25%;
     position:relative;
     height:0;
}
 .map-responsive iframe{
     left:0;
     top:0;
     height:100%;
     width:100%;
     position:absolute;
} 
 #pano {
     width: 200px;
     height: 200px;
}
/*@media screen and (max-width: 300px) {
     .listPane h1 {
         display: none;
    }
     .listPane {
         width: 0;
    }
     li, input {
         display: none;
    }
     .imageStyles {
         display: none;
    }
     .mapClass {
         width: 50%;
    }
}
*/
/* @media screen and (min-width: 0px) and (max-width: 600px){
     .listPane h1 {
         display: none;
    }
     .listPane {
         width: 0;
    }
     li, input {
         display: none;
    }
     .imageStyles {
         display: none;
    }
     .mapClass {
         width: 30%;
    }
}
 @media screen and (max-width: 770px) {
     h1 {
         font-size: 3vmin;
    }
     .liFont {
         font-size: 2vmin;
    }
     p {
         display: none;
    }
     .imageStyles {
         display: none;
    }
     .mapClass {
         width: 50%;
    }
}
 @media screen and (max-width: 830px) {
     .imageStyles {
         display: none;
    }
     p {
         font-size: 2vmin;
         width: 30%;
    }
     input {
         font-size: 12px;
         width: 80%;
    }
}
 @media screen and (max-width: 930px) {
     p {
         width: 80%;
    }
     input {
         font-size: 14px;
    }
}*/