html,body {
     font-family: Arial, sans-serif;
     height: 100%;
     margin: 0;
     padding: 0;

}

/* Input search text styles */
input {
     font-size: 15px;
}
 #inputTextID {
     padding-left: 20px;
}

/* Heading1,Unordered list styles */
 h1 {
     color: #F8F8FF;
     font-size: 30px;
     font-weight: bold;
     word-wrap: break-word;
     position: relative;
     line-height: 1.2;
     margin: 0 0 10px 0;
     text-align: center;
     padding: 10px 10px;
     background-color: #65a0ed;
}
ul, li {
     display: block;
     list-style-type: decimal;
     border: 0;
     margin: 0;
     padding: 0;
}
li {
     list-style: none;
     display: list-item;     
}
li:hover {
     background-color: #e8e8e8;
}

/* List of locations style */
.listPane {
     /*background-color: #fff;*/
     position: relative;
     overflow: auto;    
     height: calc(100vh - 100px);
}

/* Cursor point to click the location name,image and description */
 .leftPane {
     cursor: pointer;
}

/* Solid lines between the list of location details */
 .listStyles{
     border-bottom: 1px solid;
     border-bottom-color: #dcdfe5;
     outline: none;
     outline-offset: -1px;
}

/* Space around the Location name,description and image */
 .listSpace{
     padding: 8.6px;
}

/* Display flexible space and font styles between Location name and description */
.listFlex {
     display: flex;
}
.listLeftcontent {
     display: inline-block;
     /*margin-right: 36px;*/
     vertical-align: top;
     width: 241px;
     flex: 1 0 0px;
}
.listFont {
     align-self: center;
     font-size: 18px;
     font-weight: 400;
     line-height: 22px;
     margin: 0;
     color: #4259f4;
}

/* Paragraph styles for location description */
p {
     font-size: 14px;
     margin: 0;
     display: block;
     padding-top: 10px;
     width: 100%;
}
.pStyles {
     line-height: 20px;
     overflow: hidden;
}

/* Location image styles */
.imageStyles {
     background: no-repeat center/cover;
     vertical-align: middle;
     min-height: 0;
     min-width: 0;
}

/* Map styles*/
#map {
     bottom:0;
     top:0;
     height:100vh;
     width: 100%;
     overflow: hidden;
}

/* Panorama styles in Map */ 
 #pano {
     width: 200px;
     height: 200px;
}